/* signup.css */

body {
  background-color: #f8f8f8;
  font-family: Arial, sans-serif;
}

.container2 {
  position: absolute;
  top: 17%;
  width: 400px;
  height: 520px;
  right: 200px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.4);
  background-color: #007bffad;
}

h1 {
  color: #333;
  font-size: 28px;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 20px;
  text-align: left;
}

.form-group label {
  display: block;
  font-size: 16px;
  margin-bottom: 5px;
  color: #555;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group input[type="password"] {
  width: 95%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.button-container {
  margin-top: 20px;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #0056b3;
}

p {
  font-size: 16px;
  color: #555;
}

a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
.lotte {
  position: relative;
  right:360px;
  top: 80px;
}