/* PrivacyPolicy.css */

.privacy-policy-container {
    background-color: #f7f7f7;
    width: 100%;
    max-width: 800px; /* Limit maximum width for better readability */
    margin: 40px auto; /* Center the container horizontally and provide vertical margin */
    border-radius: 10px;
    box-shadow: 0px 80px 100px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s;
    overflow-y: auto;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif; /* Change to your desired font */
    padding: 20px; /* Add padding for all sides */
  }
  
  .privacy-policy-container:hover {
    transform: scale(1.02);
  }
  
  h1, h2 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; /* Apply the same font family to headings */
    margin: 0; /* Remove default margins to ensure consistent spacing */
  }
  
  h1 {
    font-size: 28px;
    color: black;
    margin-bottom: 20px;
  }
  
  h2 {
    font-size: 24px; /* Slightly reduce font size for subheadings */
    color: black;
    margin-top: 20px;
    margin-bottom: 18px; /* Reduce margin for subheadings */
  }
  
  .privacy-policy-container p {
    font-size: 20px;
    color: #4d4747;
    margin-bottom: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: justify; 
    line-height: 1.5; /* Adjust line height for better readability */
    width: 100%; /* Ensure paragraphs are full-width within the container */
  }
  li{
    text-align: justify;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  